* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  background-color: #222;
}

section {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  margin: 100px auto 0;
  padding: 40px 35px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}

section .search input {
  position: relative;
  height: 45px;
  width: 300px;
  border: 0;
  outline: none;
  padding-left: 30px;
  border-radius: 10px;
  font-size: 18px;
}

section .search input::placeholder {
  font-size: 15px;
  padding-left: 5px;
}

section .search i {
  font-size: 18px;
  position: absolute;
  /* left: -180px;
  top: -30px; */
  left: 39.4%;
  top: 17.4%;
  color: grey;
  z-index: 100;
  padding-right: 15px;
}

section .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .search .search-button {
  height: 45px;
  width: 80px;
  background-color: white;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* weather section */

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.deitals {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 50px;
  margin-right: 10px;
}

.humidity,
.Wind {
  font-size: 20px;
}
