* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #f6f7fb;
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

body {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  /* background-color: red; */
}

.container .progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.container .progress-container::before {
  content: "";
  position: absolute;
  background-color: var(--line-border-fill);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: 0.5s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--line-border-empty);
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  border: none;
  color: #fff;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}